/* .confetti{
    
} */
.row 
{
  height: 140px;
}
.confetti{
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
}
.border-b
{
  border-bottom: 10px solid black;
}

.border-r
{
  border-right: 10px solid black;
}

.col
{
  height: 140px;
  width: 140px;
  float: left;
}

.btn {
  float: left;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}
.btn:hover {
  background-color: gray;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: large;
    
  }
  .status_winner {
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: red;
    
  }

  .status_draw {
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: olive;
  }
  
  .square {
    background: #fff;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    height: 140px;
    width: 140px;
    text-align: center;
    border: none;
    
  }
  
  .square:hover {
    background-color: rgba(211, 211, 211, 0.767);
    border-radius: 50px;
  }
  
  .square:focus
  {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin:auto;
    height: 467px;
    width: 440px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgb(255, 255, 255);
  }  