.row 
{
  height: 17vh;
}
.confetti{
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
}
.border-b
{
  border-bottom: 1.1vh solid black;
}

.border-r
{
  border-right: 1.1vh solid black;
}

.col
{
  height: 17vh;
  width: 17vh;
  float: left;
}

  .status {
    margin-bottom: 10px;
    font-size: large;
    
  }
  .status_winner {
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: red;
    
  }

  .status_draw {
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bold;
    color: olive;
  }
  
  .square {
    background: #fff;
    float: left;
    font-size: 17vh;
    font-weight: bold;
    line-height: 17vh;
    height: 17vh;
    width: 17vh;
    text-align: center;
    border: none;
    
  }
  
  .square:hover {
    background-color: rgba(211, 211, 211, 0.767);
    border-radius: 5vh;
  }
  
  .square:focus
  {
    outline: none;
  }
